.disconnectMobile {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

.largeView {
    height: 42px;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    border-radius: 12px;
    background-color: rgb(244, 244, 244);
    cursor: pointer;
}

@media (max-width: 1269px) {
    .largeView {
        display: none;
    }
    .disconnectMobile {
        display: block;
    }
}