.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after {
  border-bottom: 2px solid #2DAAE1 !important;
}

.ant-menu-horizontal > .ant-menu-item-selected a,
.ant-menu-horizontal > .ant-menu-item a:hover {
  color: #2DAAE1 !important;
}

.ant-modal-content {
  overflow: auto;
  border-radius: 1rem;
  background-color: aliceblue;
  opacity: 0.97;
}

.ant-btn[disabled], .ant-btn[disabled]:hover, .ant-btn[disabled]:focus, .ant-btn[disabled]:active {
  display: none;
}

.mainMenu{
  display: flex;
  font-size: 17px;
  font-weight: 500;
  margin-left: 50px;
  width: 100%;
}

.burgerMenu {
  display: none;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  height: 3vh;
  margin: 10px;
}

.burgerMenu span {
  display: block;
  width: 30px;
  height: 1px;
  background-color: black;
  border: 1.5px solid black;
}

.burgerMenuModal ul li {
  padding:10px;
  font-weight: bold;
  font-size: 30px;
  list-style-type: none;
  text-align: center;
}

.burgerMenuModal ul li:hover {
  border: 1px solid black;
}

@media (max-width: 1020px) {
  .mainMenu {
    display: none;
  }

  .burgerMenu {
    display: flex;
  }
}
